  .chat {
    flex: 2;
    height: 50px;
    background-color: aliceblue;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    
  }

  .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: lightcoral;
  }

  .icons{
    display: flex;
    gap: 14px;
  padding: 1px;
  font-size: 2rem;
  }


