.chat-name {
  font-size: 16px;
  font-weight: 100;
}

.chat-name-dark{
  font-size: 16px;
  font-weight: 100;color: white;
}



.cht {
  font-size: 14px;
  color: gray;
}

.client {
  margin-top: 6px;
}



.call {
  position: relative;
  right: 0;
  bottom: 0;
}



.abii {

  height: 2.5rem;
  margin-top: .5rem;
}

.out {
  height: 2rem;
  width: 5rem;
  position: absolute;
  bottom: 10px;
  left: 10px;
  border-top: 1px solid gainsboro;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 3px 3px #9babfa;
  background-color: #e7a4de;
  cursor: pointer;
}

/* .chats-dark {
  background-color: rgb(37, 36, 36);
  color: rgb(23, 21, 21);
  height: 64px;
  display: flex;
  align-items: center;
  gap: 12rem;
} */


@media (max-width: 400px) {
  .chats {
    width: 100px;
  }
}