  .chat {
    flex: 2;
    height: 100%;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .info {
    display: flex;
    align-items: center;
    padding: 10px;
    color: rgb(81, 81, 114);
  }

  .info-dark {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 10px;
    color: rgb(234, 234, 238);
  }

  .name {
    color: rgb(71, 71, 71);
    font-size: 16px;
    gap: 1rem;
  }

  .name-dark {
    color: white;
  }

  .chat-name {
    margin-left: 1rem;
    display: flex;
    align-items: center;
    gap: 11rem;
    
  }

  .return{
    color: #000;

font-size: 1.5rem;  }
  

  .image {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 2rem;
  }

  .icons {
    display: flex;
    gap: 14px;
    padding: 1px;
    font-size: 1.5rem;
  }


  .video,
  .call,
  .more {
    color: #e7a8de;
    display: flex;
    align-items: center;
  }

  .video:hover {
    color: navy;
    cursor: pointer;
  }

  .call:hover {
    color: navy;
    cursor: pointer;
  }

  .more:hover {
    color: navy;
    cursor: pointer;
  }

  .chat-dark {
    background-color: #141414;
    color: white;
    flex: 2;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }


  @media (max-width:400px) {

    .name {
      display: none;
    }
  }