.chat-name {
  font-size: 16px;
  font-weight: 100;
}

.cht {
  font-size: 14px;
  color: gray;
}

.client {
  margin-top: 6px;
}



.call {
  position: relative;
  right: 0;
  bottom: 0;
}



.abii {

  height: 2.5rem;
  margin-top: .5rem;
}

.logout {
  position: absolute;
  bottom: 0;
  /* margin-top: 5.3rem; */
  border-top: 1px solid gainsboro;
}