
/* .side-chats{
  overflow: scroll;
  height: 80vh;
} */

.chat-name{
  font-size: 16px;
  font-weight: 100;
}

.cht{
  font-size: 14px;
  color: gray;
}

.client{
  margin-top: 6px;
}



.call{
  position:relative;
  right: 0;
  bottom:0 ;
}