.registration {
  width: 100vw;
  height: 100vh;
  background-image: url(https://assets-global.website-files.com/5a9ee6416e90d20001b20038/628a0c86a920a95176b4a5da_lavendar-gradient.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


/* .registration {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

} */



/* left container */

.left-container {
  margin-right: 20rem;
}

.logo{
height: 20rem;
width: 20rem;
}



h2{

    /* background: -webkit-linear-gradient(left,
      #e7a4de #aab3e2); */
  color: #e7a4de;  
font-size: 2.5rem;
font-weight: 900;
position: fixed;
-webkit-text-stroke: 0.1vw #e7a8de;
}

h2::before
{

  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color:white;
  -webkit-text-stroke: 0vw #e7a8de;
  border-right: 2px solid #e7a4de;
  overflow: hidden;
  animation: animate 4s linear infinite;

} 

@keyframes animate
{
  0%,10%,100%
  {
    width:0;
  }
  70%,90%
  {
    width: 100%;
  }
}








/* right container */
.form-details {

  position: relative;
  
  width: 25vw;
  height: 60vh;
  border-radius: 20px; 
  box-shadow: 0px 00px 20px 20px #edeef3;
  backdrop-filter: blur(55px);

  form {
    text-align: center;
    display: flex;
    flex-direction: column;

  }

}




.inp-style {
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid w;
}

label {
  display: flex;
  flex-direction: column;
  justify-content: center;

}


.title {
  font-size: 1.2rem;
  text-decoration: underline;
  font-weight: 500;
  font-style: oblique;
  text-align: center;
}

button {
  width: 15rem;
  padding: 5px;
  font-size: 1rem;
  background-color: blue;
  color: white;
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;

  color: rgb(26, 0, 128);
  font-weight: 900; 
}

.add {
  width: 2rem;
  height: 2rem;
}









