.messages {
  padding: 10px;
  background-color: white;
  height: 76vh;
  overflow-y: scroll;
}
.messages-dark {
  padding: 10px;
  background-color:#141414;
  height: 72.5vh;
  overflow-y: scroll;
}
::-webkit-scrollbar-track {
  background-color: #f3c2ec;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #952bff;
  border-radius: 8px;
}

.message {
  display: flex;
  gap: 1.3rem;
  margin-bottom: 20px;

  &.owner {
    flex-direction: row-reverse;

    .para {
      background-color: #aab3e2;
    }
  }
}

.msg-img {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  object-fit: cover;
}

.msg-info {
  display: flex;
  flex-direction: column;
  color: gray;
  font-weight: 300;

}

.msg-content {

  max-width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;


}

.para {
  background-color:#f3c2ec;
  padding: 10px 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}