.navbar {
  background-color: white;
  height: 64px;
  display: flex;
  align-items: center;
  gap: 12rem;
}

.navbar-dark {
  background-color:#141414;
  color: white;
  height: 64px;
  display: flex;
  align-items: center;
  gap: 12rem;
}

.logo-img {
  display: flex;
  align-items: center;
  gap: .5rem;
  font-weight: 600;

}




.user {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.theme {
  width: 1.5rem;
  height: 1.5rem;
  padding: 4px;
  font-size: 1rem;
  margin-right: 1rem;
  background-color: white;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}

.theme-dark {
  width: 1.5rem;
  height: 1.5rem;
  padding: 4px;
  font-size: 1rem;
  margin-right: 1rem;
  background-color:#141414;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}


.sun-dark{
  color: aliceblue;
}



@media (max-width:400px) {
  .user-name {
    display: none;
  }

  .theme {
    margin-left: -2rem;
  }
}