
.navbar {
  background-color: white;
  height: 64px;
  display: flex;
  align-items: center;
  gap: 12rem;
}

.logo-img {
  display: flex;
  align-items: center;
  gap: .5rem;
  font-weight: 600;

} 


/* .log-out{
  font-size: 1.5rem;
}

a{
  color:#952bff;

} */

.user{
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 25px;
  margin-left: 1rem;
}


