
.navbar {
  background-color: white;
  height: 64px;
  display: flex;
  align-items: center;
  gap: 12rem;
}

.logo-nav {
  font-size: 1.5rem;
  margin-left: 1rem;
}


.log-out{
  font-size: 1.5rem;
}

a{
  color:#952bff;

}
.log{
  margin-left: -1rem;
  font-size: 1rem;
}


