.registration{
width: 100vw;
height: 10vh;
  background-image: url(https://assets-global.website-files.com/5a9ee6416e90d20001b20038/628a0c86a920a95176b4a5da_lavendar-gradient.png);
background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

}
.back{
height: 20rem;
width: 18rem;
position: relative;

}
img{
  height: 6rem;
  width: 6rem;
}

/* .registration{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

} */

.form-details{
height: 50vh;
display: flex;
flex-direction: column;

}








.title{
  font-size: 2rem;
  text-decoration: underline;
    font-weight: 900;
    font-style: bold;
    text-align: center;
    color: rgb(5, 5, 227);
}



a{text-decoration: none;

color: rgb(26, 0, 128);
font-weight: 900;}


.signs{
  display: flex;
  align-items: center;
  gap: 3rem;
}

.sign{
  width: 5rem;
  padding: 5px;
  border-radius: 10px;
  background-color:navy;
}
.up{
  width: 6rem;
  color: antiquewhite;
  padding: 5px;
  border-radius: 10px;
  background-color: red;
}
