* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.search-box {
  height: 2rem;
  display: flex;
  width: 16.2rem;
  margin-left: 1.7rem;
  border-radius: 8px;
  background-color: rgb(230, 240, 255);
  position: relative
}

.search-bar {
  background-color: rgb(230, 236, 255);
  width: 15rem;
  margin-left: .4rem;
  font-size: 16px;
  border: none;
  outline: none;
  padding-left: 30px;
}

.search-icon {
  position: absolute;
  top: 12%;
  left: 10px;
}







.user-chat:hover {
  background-color: lavender;
  cursor: pointer;
}

.user-chat {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 3px;
}

.client {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.box {
  margin-top: 10px;
  border-bottom: 2px solid rgb(251, 239, 239);
}